
# ============================================
# Spring Security
# ============================================
JWT_SECRET=vZWtIb0AUbrMiSNB1tL+EzavlbQ9gpEgQpYxlLs1FuA
JWT_EXPIRATION=43200000

JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

# ============================================
# PostgreSQL
# ============================================
POSTGRES_VERSION=16-alpine
DB_NAME=mydatabase
DB_USER=myuser
DB_PASSWORD=secret

# ============================================
# Kafka
# ============================================
KAFKA_VERSION=4.3.1
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# ============================================
# Redis
# ============================================
REDIS_VERSION=7.4-alpine
REDIS_PASSWORD=secret

# ============================================
# Spring Boot Application
# ============================================
SPRING_PROFILES_ACTIVE=dev
