<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - [Req: %X{requestId}] %msg%n%ex{full}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="com.waregang" level="DEBUG" />
    <logger name="org.springframework.web" level="DEBUG" />
    <logger name="org.springframework.security" level="DEBUG" />
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.springframework.transaction" level="DEBUG" />
    <logger name="org.flywaydb" level="DEBUG" />
    <logger name="org.apache.kafka.clients" level="DEBUG" />
</configuration>
